In [26]:
import pandas as pd
from datetime import datetime

In [43]:
df= pd.read_csv('contratos.csv', sep=',', header=0, encoding='ISO-8859-1')

In [49]:
df.dropna(inplace=True)

In [45]:
#Definindo colunas de data
cols_date = ['data_assinatura', 'data_publicacao', 'vigencia_inicio', 'vigencia_fim']

In [48]:
df[cols_date] = df[cols_date].astype('datetime64[ns]') # trasnformando as colunas em data
df.info(0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1876 entries, 300 to 72697
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          1876 non-null   int64
 1   receita_despesa             1876 non-null   object
 2   numero                      1876 non-null   object
 3   orgao_codigo                1876 non-null   int64
 4   orgao_nome                  1876 non-null   object
 5   unidade_codigo              1876 non-null   int64
 6   unidade_nome_resumido       1876 non-null   object
 7   unidade_nome                1876 non-null   object
 8   unidade_origem_codigo       1876 non-null   float64
 9   unidade_origem_nome         1876 non-null   object
 10  fornecedor_tipo             1876 non-null   object
 11  fonecedor_cnpj_cpf_idgener  1876 non-null   object
 12  fornecedor_nome             1876 non-null   object
 13  codigo_tipo                 1876 non-null   int64
 14  tipo                        1876 non-null   object
 15  categoria                   1876 non-null   object
 16  processo                    1876 non-null   object
 17  objeto                      1876 non-null   object
 18  fundamento_legal            1876 non-null   object
 19  informacao_complementar     1876 non-null   object
 20  codigo_modalidade           1876 non-null   object
 21  modalidade                  1876 non-null   object
 22  unidade_compra              1876 non-null   object
 23  licitacao_numero            1876 non-null   object
 24  data_assinatura             1876 non-null   datetime64[ns]
 25  data_publicacao             1876 non-null   datetime64[ns]
 26  vigencia_inicio             1876 non-null   datetime64[ns]
 27  vigencia_fim                1876 non-null   datetime64[ns]
 28  valor_inicial               1876 non-null   float64
 29  valor_global                1876 non-null   float64
 30  num_parcelas                1876 non-null   int64
 31  valor_parcela               1876 non-null   float64
 32  valor_acumulado             1876 non-null   float64
 33  situacao                    1876 non-null   object
dtypes: datetime64[ns](4), float64(5), int64(5), object(20)
memory usage: 513.0+ KB

In [4]:
frutas =['maçã', 'laranja', 'morango']

frutas2 = [x for x in frutas]

for i in frutas2:
    print(i)

maçã
laranja
morango